<p id="notice"><%= notice %></p>

<% if !@label.albums.empty? %>
<b><%= @label.label %> <br></b><br \>
<% @label.albums.each do |l| %>
<%= link_to l.title, l %></td>
<br \>
<% end %>

<% else%>
		<b> <%= @label.label %> has no album yet <br><b \>
		<% end %>
<br>

<%= link_to 'Back', artists_path %>